$background: #283451;
$foreground: #f3e9d3;

body {
  background: $background;
}

body,
svg text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

svg text {
  fill: $foreground;
}

// BLOCKS

.Grid {
  stroke: $foreground;
  opacity: 0.2;
  fill: none;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.Axis .domain {
  display: none;
}

.Controls {
  clear: both;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}